@model IEnumerable<Users>
@{
    ViewData["Title"] = "Index";
}
<div class="cointainer p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Emplopyee List</h2>
        </div>
       
        

    </div>


    <table class="table table-bordered table-striped" style="width:100%">
        <style>
            table {
                border-collapse: collapse;
            }

            th, td {
                border: 1px solid lightpink;
                padding: 1px;
            }
        </style>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="left" width="10%">@item.Name</td>
                    <td align="left" width="10%">@item.Age
                        <div class="col-10 text-end" role="group" align="right">
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id"
                               class="btn btn-danger mx-2"> <i class="bi bi-trash-fill" style="width: 90px; height: 40px;"></i> Delete</a>
                        </div>
                    </td>
                    
                       
                    
                </tr>

               
            }
            <div style="position: relative;" class="col-10 text-end">
                <a asp-controller="Employee" asp-action="Create" class="btn btn-primary" style="position: absolute; bottom: 0;width: 150px; height: 40px;">
                    Create List
                    <i class="bi bi-plus-circle"></i>
                </a>
            </div>

        </tbody>
       
    </table>
    @*class="w-75 btn-group" *@

</div>